:root {
  --main-color: red;
  --btn-color: black;
  --text-color: white;
  --hover-color: darkblue;
}

body {
  margin: 0;
  background-color: var(--main-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 24px;
}

.btn {
  width: 192px;
  height: 48px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--text-color);
  
}

.btn:hover {
  background-color: var(--hover-color);
  transition: ease 1s;
}
